<section class="portfolio section" id="bio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center">
					<h2><span class="color">Cirriculum Vitae</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>
		</div>
		<div class="row text-start">
			<div class="col-md-4 mb-4">
				<h4>Work Experience</h4>
				<ul class="bio-list">
					<li>
						<strong>Microsoft</strong> <span class="date">2022 — Now</span>
					</li>
					<li>
						<strong>Byte</strong> <span class="date">2020 — 2022</span>
					</li>
					<li>
						<strong>Ordnance Survey</strong> <span class="date">2019 — 2020</span>
					</li>
					<li>
						<strong>Mott MacDonald</strong> <span class="date">2018 — 2019</span>
					</li>
					<li>
						<strong>Angelicoussis Shipping Group</strong> <span class="date">2014 — 2018</span>
					</li>
					<li>
						<strong>Geospatial Enabled Technologies (GET)</strong> <span class="date">2010 — 2014</span>
					</li>
					<li>
						<strong>Geovalues Ltd</strong> <span class="date">2006 — 2009</span>
					</li>
				</ul>
			</div>
			<div class="col-md-4 mb-4">
				<h4>Certifications</h4>
				<ul class="bio-list">
					<li>Microsoft Certified: Azure Developer Associate</li>
					<li>Microsoft Certified: DevOps Engineer Expert</li>
					<li>Microsoft 365 Certified: Security Administrator Associate</li>
					<li>Microsoft Certified: Azure AI Fundamentals</li>
				</ul>
			</div>
			<div class="col-md-4 mb-4">
				<h4>Education</h4>
				<ul class="bio-list">
					<li>MSc in Advanced Computing Technologies, Computer Science<br>
						<span class="school">Birkbeck University of London, London United Kingdom</span>
					</li>
					<li>BSc in Geography/GeoInformatics<br>
						<span class="school">Harokopeio University, Athens Greece</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-4" >
				<h4>Programming Skills</h4>
				<ul class="bio-list">
					<li>C#</li>
					<li>Visual Basic .NET</li>
					<li>ASP.NET </li>
					<li>ASP.NET MVC</li>
					<li>ASP.NET Web Services (ASMX, WCF)</li>
					<li>ASP.NET Web API</li>
					<li>.NET Entity Framework</li>
					<li>Python (Flask, Django)</li>
					<li>Java</li>
					<li>HTML 5/CSS 3</li>
					<li>JavaScript</li>
					<li>jQuery</li>
					<li>AngularJS</li>
					<li>React</li>
					<li>Bootstrap</li>
					<li>NodeJS</li>
					<li>TypeScript</li>
					<li>SQL (T-SQL, PL/SQL)</li>

				</ul>
			</div>
			<div class="col-md-4 mb-4">
				<h4>Database Skills</h4>
				<ul class="bio-list">
					<li>SQL Server</li>
					<li>Oracle</li>
					<li>PostgreSQL</li>
					<li>MongoDB</li>
					<li>CosmosDB</li>
				</ul>
			</div>
			<div class="col-md-4 mb-4">
				<h4>AI / Machine Learning / Data Science Skills</h4>
				<ul class="bio-list">
					<li>Numpy</li>
					<li>Pandas</li>
					<li>Scikit-learn</li>
					<li>TensorFlow</li>
				</ul>
			</div>
		</div>
	</div>
</section>
