<!-- Srart Contact Us
=========================================== -->
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Get In <span class="color">Touch</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- Contact Details -->
			<div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
				<p>Please reach out through email. I'll be happy to have a converstion with you.</p>
				<div class="contact-details">
					<div class="con-info clearfix">
						<i class="tf-ion-ios-email-outline"></i>
						<span>Email: andmitrou@gmail.com</span>
					</div>
				</div>
			</div>
			<!-- / End Contact Details -->
</section> <!-- end section -->