<!-- Start Blog Section
=========================================== -->
<section id="portfolio" class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeInDown">
					<h2> <span class="color">Portfolio</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>
			</div>
<div class="row">
				<article class="col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<div class="post-block">
					<div class="content">
						<h3><a href="#">IoT</a></h3>
						<p>Edge Computing System for efficient computations and data management in IoT environments.</p>
						<a class="btn btn-transparent" href="#">Read more</a>
					</div>
				</div>
			</article>
			<article class="col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<div class="post-block">
					<div class="content">
						<h3><a href="#">Vessel reporting system</a></h3>
						<p>A complete standalone software package which fulfills the needs of creating, transferring and maintaining reports on Office and Vessel Sites</p>
						<a class="btn btn-transparent" href="#">Read more</a>
					</div>
				</div>
			</article>
			<!-- /single blog post -->
			
			<!-- single blog post -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->