<!-- Start Services Section
==================================== -->
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2><span class="color">Services</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-target3"></i>
					</div>
					<h3>Application Development</h3>
					<p>Software application development for various platforms, mobile devices, and the web</p>
				</div>
			</article>
			<!-- End Single Service Item -->

				<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-dial"></i>
					</div>
					<h3>Cloud Computing</h3>
					<p>Cloud computing services IaSS, PaSS, SaSS for platforms such as Azure, Google Cloud and AWS. </p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>Software Architecture</h3>
					<p>Define your technology stack, prioritize feature sets, and document an actionable software roadmap</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>AI & Machine Learning</h3>
					<p>Boost your applications and bussiness workflows with the use of AI and Machine Learning services.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>Geospatial Development</h3>
					<p>Develop Geographic Information Systems (GIS) to capture, store, manipulate, analyze, manage, and present spatial data.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>Sharepoint Development</h3>
					<p>Build custom solutions to extend and enhance the SharePoint platform, including creating web parts  and other components.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->